[[La course|Le] {{type_pari}} de demain se [déroulera|courra|disputera]
 en {{discipline}} sur {{distance}} à {{nom_hippodrome}} et [réunira|verra
la participation de] {{>nombre_partants}} [partants|concurrents|chevaux]|
[[Retrouvez nous|Rendez vous] demain] à {{nom_hippodrome}} pour [la course|le] {{type_pari}}
qui se [déroulera|courra|disputera] en {{>discipline}} sur {{distance}} et [réunira|verra la participation de]
{{nombre_partants}} [partants|concurrents|chevaux]|[Retrouvez nos pronostics pour le {{type_pari}}
du {{nom_du_prix}}, disputé en {{discipline}} sur l'hippodrome de {{nom_hippodrome}}
({{numero_reunion}} Réunion PMU)|Ce {{type_pari}} du {{jour}} se court sur
une distance de {{distance}} et réunit {{nombre_partants}} partants. Cette épreuve,
dotée de la somme de {{dotation}}, débutera à {{horaire}}]|Support du {{type_pari}},
ce {{nom_du_prix}} mettra aux prises {{nombre_partants}} galopeurs âgés de {{tranche_age}},
qui devront en découdre sur le parcours des {{distance}}|[Nouveau rendez-vous|Nouvelle course]
sur l’hippodrome de {{nom_hippodrome}} ce {{jour}} à l’occasion du {{nom_du_prix }}|{{nom_hippodrome}}
et les {{tranche_age}} [tiendront le haut de l'affiche|seront à l’ordre du jour] pour ce {{jour}}
avec le {{nom_du_prix}}, couru sur une distance de {{distance}}, [que convoiteront|où
s’opposeront|qui vera concourir] {{nombre_partants}} [partants|concurrents]]{{#ef1}}test{{/ef1}}
